# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.swp

# Large raw dataset folders (keep scripts and samples)
01_raw_data/*.hdf5
02_preprocessed/*.npy
dataset/train/
dataset/val/
dataset/test/
04_split_dataset/
models/*.pth

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
